<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <p style="color: red;"><%= error %></p>
      <% end %>
    <% end %>
    <% if logged_in? %>
      <h3>Hi <%= current_user.username %>!</h3>
      <a href="<%= new_sub_url %>">Create a Sub!</a>
      <br>
      <a href="<%= subs_url %>">All the Subs</a>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Sign Out">
      </form>
    <% else %>
      <a href="<%= new_session_url %>">Sign In</a>
      <a href="<%= new_user_url %>">Sign Up</a>
    <% end %>

    <%= yield %>
  </body>
</html>
